extends layout

block content

    // Gridline filter
    #filtering.col-xs-1
        .row
            .panel.panel-default
                .panel-heading
                    .panel-title
                        h3
                        | Event Flags
                .panel-body
                    .col-xs-12
                        .checkbox(padding-left="5px")
                            input(type='checkbox', value='AAPL', checked, onclick='updateTimeSeriesMarkers(value, checked)')
                            |  #{phoneData[0][0].symbol}
                    .col-xs-12
                        .checkbox(padding-left="5px")
                            input(type='checkbox', value='GOOG', checked, onclick='updateTimeSeriesMarkers(value, checked)')
                            |  #{phoneData[1][0].symbol}
                    .col-xs-12
                        .checkbox(padding-left="5px")
                            input(type='checkbox', value='MSI', checked, onclick='updateTimeSeriesMarkers(value, checked)')
                            |  #{phoneData[2][0].symbol}
                    .col-xs-12
                        .checkbox(padding-left="5px")
                            input(type='checkbox', value='SNE', checked, onclick='updateTimeSeriesMarkers(value, checked)')
                            |  #{phoneData[3][0].symbol}

    // Time series
    #chart.col-xs-9

    // Phone info
    #phoneInfo.col-xs-2
        .btn-group
            #phoneSelect.button.btn.btn-default.dropdown-toggle.status(data-toggle="dropdown")
                | Select a Phone&nbsp;
                span.caret
            ul.dropdown-menu.scrollable-menu
                li.dropdown-header
                    | Apple
                each model in phoneData[0]
                    li
                        a(role="menuitem" tabindex="-1" href="#" onclick='onPhoneSelect("#{model.name}")')
                            | #{model.name}
                li.dropdown-header
                    | Google
                each model in phoneData[1]
                    li
                        a(role="menuitem" tabindex="-1" href="#" onclick='onPhoneSelect("#{model.name}")')
                            | #{model.name}
                li.dropdown-header
                    | Motorola
                each model in phoneData[2]
                    li
                        a(role="menuitem" tabindex="-1" href="#" onclick='onPhoneSelect("#{model.name}")')
                            | #{model.name}
                li.dropdown-header
                    | Sony
                each model in phoneData[3]
                    li
                        a(role="menuitem" tabindex="-1" href="#" onclick='onPhoneSelect("#{model.name}")')
                            | #{model.name}
        #phoneName.col-xs-12
        #image.col-xs-12
            img.img-rounded(src='')
        #phoneArenaRatings.col-xs-6
        #userRatings.col-xs-6
        .col-xs-6(style="font-size: 12px;text-align:center;padding-left:40px")
            | Phone Arena Ratings
        .col-xs-6(style="font-size: 12px;text-align:center;padding-left:40px")
            | User Ratings
        // Sparkline from starting date
        #sparkline.col-xs-12

    script(type="text/javascript" src="js/stacked-graph.js")
    script(type="text/javascript" src="js/phoneInfo.js")

